.title {
  font-size: 18px;
  font-weight: 600;
  width: 200px;
}

.containerDesx {
  background-color: #f8f8f8;
  border-radius: 8px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.desc {
  margin-right: 10px;
  margin-left: 10px;
}
.containerInfo {
  display: flex;
  align-items: Center;
  margin-top: 10px;
}

.infor_title{
  font-weight: 600;
  font-size: 15;
}
